.form{
    width:500px;
    height:700px;
    top:50%;
    left:50%;
    margin: auto;
    background-color: gray;
}

label, input {
    display: block;
}

label {
    margin-bottom: auto;
    text-align: center;
}

.warningstyles{
    position: relative;
    top: -21px;
    left: 21%;
    color: red;
}

input{
   max-width: 400px;
    text-align:left;
    margin:auto;
    height:20px;
    text-align: center;
    width:50%;
}

.form,h2{
    margin:auto;
    text-align:center;
    
}


.button{
    background-color: orange;
    width:34%;
    height:45%
}

.form .fa-user, .fa-map-marker,
.fa-envelope,
.fa-lock{
    position: relative;
    top:21px;
    right:100px;
    font-size:15px;
}

.line{
    max-width: 34%;
}

input:invalid {
    border: 1px solid  red;
  }
  
input:valid {
border: 1px solid green;
}

p{
    background-color: red;
}
